* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #151410;
	font-family: "Poppins", sans-serif;
	color: #fff;
	text-align: center;
	padding: 24px 16px;
}

/* HEADER */
.header-top {
	text-align: left;
	padding: 8px 0 4px 16px;
}

.logo-left {
	max-width: 100px;
	height: auto;
}

.top-divider {
	border: none;
	border-top: 2px solid #d7b7a4;
	margin: 0 0 16px 0;
}

/* MAIN */

.corner-img {
	position: absolute;
	z-index: -1;
	pointer-events: none;
}

.left-img {
	top: 60px;
	left: 0;
	width: 100px;
}

.right-img {
	bottom: 346px;
	right: 0;
	width: 40px;
}

.typing-text-container {
	margin-top: 12px;
	font-family: "Playfair Display", serif;
	font-size: 15px;
	font-weight: 200;
	color: #ffffff;
	height: 24px;
	white-space: nowrap;
	overflow: hidden;
}

.avatar {
	margin-top: 36px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 16px;
}

h1 {
	font-family: "Playfair Display", serif;
	font-size: 36px;
	font-weight: 400;
	margin-bottom: 4px;
	color: #f9f4f0;
}

p.subtitle {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 200;
	color: #f9f4f0;
	margin-bottom: 24px;
}

/* BUTTONS */
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px; /* расстояние между текстом и иконкой */

	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	text-decoration: none;

	color: #2f1c18;
	background-color: #f4dcc7;
	border: 4px solid #8c3e13;
	border-radius: 6px;

	padding: 18px 24px; /* ← как ты показала на скрине */
	width: 100%;
	max-width: 400px;
	margin: 8px auto;

	transition: all 0.3s ease;
	cursor: pointer;
}

.btn:hover {
	background-color: #eacfbf;
	text-decoration: none;
}

.btn-icon-img {
	width: 20px;
	height: 20px;
	margin-left: 4px; /* можно, если нужно чуть сдвинуть ближе/дальше */
}

.btn-icon {
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	white-space: nowrap;
}

.btn-icon-img {
	width: 18px;
	height: 18px;
}

.btn-outline {
	background: transparent;
	color: #fff;
	border: 4px solid #fff;
}

.btn-light {
	font-weight: 400;
	letter-spacing: 0.1px;
	color: #ffffff;
}
.button-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0px;
	max-width: 400px;
	margin: 0 auto 32px;
}

/* CONTACT */
.email {
	margin-top: 16px;
	font-size: 14px;
	color: #e2cbbd;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.email a {
	color: #e2cbbd;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.email img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

/* SOCIAL ICONS */
.socials {
	margin-top: 16px;
}

.socials a {
	margin: 0 8px;
	display: inline-block;
	color: #e2cbbd;
	font-size: 20px;
}

.socials img {
	width: 32px;
	height: 32px;
}
